 <nav class="navbar navbar-expand-md bg-light navbar-dark">
  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="mainNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('menu.about') }}">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('itemviews.galleries') }}">Galleries</a>
      </li>
      
      {% if current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" alt="Contact" href="{{ url_for('files.upload') }}">
                    <svg class="bi text-success" width="32" height="32" fill="currentColor">
                        <use xlink:href="bootstrap-icons.svg#mailbox"/>
                    </svg>
                </a>
          </li>

          {% if authorize.in_group('admins') %}
              <li class="nav-item">
                <a class="nav-link" alt="Upload" href="{{ url_for('files.upload') }}">
                    <svg class="bi text-success" width="32" height="32" fill="currentColor">
                        <use xlink:href="bootstrap-icons.svg#upload"/>
                    </svg>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" alt="Settings" href="{{ url_for('admin.settings') }}">
                    <svg class="bi text-success" width="32" height="32" fill="currentColor">
                        <use xlink:href="bootstrap-icons.svg#gear"/>
                    </svg>        
                </a>
              </li>
          {% endif %}

      {% endif %}
    </ul>
  </div>
</nav> 
