<!-- Sign-In form -->

{% extends 'base_layout.html' %}
    
    {% block topmenu %}
        {% include 'topmenu.html' %}
    {% endlblock %}
    {% block mainmenu %}
        {% include 'mainmenu.html' %}
    {% endblock %}

    {% block header %}
        <h1>{% block title %}{{ title }}{% endblock %}
    {% endblock %}            
        
    {% block main %}  
        <form action="url_for('auth.signin')" method="POST">
            {{ form.csrf_token }}
            
            <div class="form-group email">
                {{ form.name.label }}
                {{ form.name(class_="form-control", placeholder='your username') }}
                {% if form.name.errors %}
                    <ul class="errors">
                        {% for error in form.name.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <div class="form-group password">
                {{ form.password.label }}
                {{ form.password(class_="form-control", placeholder='your password') }}
                {% if form.password.errors %}
                    <ul class="errors">
                        {% for error in form.password.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            
            <div class="form-group form-check">
                {{ form.remember_me.label }}
                {{ form.remember_me }}
            </div>

           <div class="form-group recaptcha">
                {{ form.recaptcha }}
            </div>


            <div class="btn btn-success">
                {{ form.submit }}
            </div>
        </form>
    {% endblock %}
