<!-- Sign-In form as BS4 Modal -->
<div class="modal" id="signinForm">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Sign In</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form action="url_for('auth.signin')" method="POST">
            {{ form.csrf_token }}
            
            <div class="form-group email">
                {{ form.email.label }}
                {{ form.email(class_="form-control", placeholder='youremail@example.com') }}
                {% if form.email.errors %}
                    <ul class="errors">
                        {% for error in form.email.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <div class="form-group password">
                {{ form.password.label }}
                {{ form.password(class_="form-control", placeholder='your password') }}
                {% if form.password.errors %}
                    <ul class="errors">
                        {% for error in form.password.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            
            

           <div class="form-group recaptcha">
                {{ form.recaptcha.label }}
                {{ form.recaptcha }}
            </div>


            <div class="btn btn-success">
                {{ form.submit }}
            </div>
        </form>

      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
