<!-- Sign-Un page -->

{% extends 'base_layout.html' %}
    
    {% block topmenu %}
        {% include 'topmenu.html' %}
    {% endlblock %}
    {% block mainmenu %}
        {% include 'mainmenu.html' %}
    {% endblock %}

    {% block header %}
        <h1>{% block title %}{{ title }}{% endblock %}
    {% endblock %}            
        
    {% block main %}  
        {% include "/modules/core/helpers/forms/templates/signup_form.html" %}

       <div>
         <span>Already have an account?</span>
         <a href="{{ url_for('auth.signin') }}">Sign ip.</a>        
       </div>

    {% endblock %}
