{% macro navlink(name) -%}
    
    {% if (menu_item.auth and current_user.is_authenticated) or not menu_item.auth %}
        {% if menu_item.role_req != '' and if menu_item.role_req is not in current_user.roles %}{% else %}
            <li class="nav-item">
                <a class="nav-link" alt="" href="{{ url_for(menu_item.target) }}" title="{{ menu_item.desc }}">

                    {% if menu_item.icon is NULL %}
                        {{ menu_item.name }}
                    {% else %}
                        <svg class="bi text-success" width="32" height="32" fill="currentColor">
                            <use xlink:href="{{ url_for('static', filename='icons.svg#icon-' + menu_item.icon) }}"/>
                        </svg>
                    {% endif %}
         
                 </a>
             </li>
         {% endif %}
    {% endif %}
{%- endmacro %}

{% macro dropdown(name, desc, icon='', target, 
