{% macro render_navbar(name = '') -%}
    <div class = container-fluid">                   
        {% for navbar in list_navbars %}
            {% if name == '' or name == navbar.name %}            
                <nav class="navbar {{ navbar.html_class }}" style="{{ navbar.html_style | safe }}" id="{{ navbar.name }}" name="{{ navbar.name }}">
                    {% for navbar_item, navbar_item_template in list_navbar_item_templates(navbar.id) %}
                        {% if check_navbar_item(navbar_item.id) %}
                            {% include navbar_item_template %}
                        {% endif %}
                    {% endfor %} 
                </nav>
            {% endif %}
        {% endfor %}
    </div>

{% macro render_menu(navbar_item_id) -%}
<!-- get Menu object -->    
  {% set menu = get_menu_by_name(navbar_item.name) %}
        <div class="{{ menu.html_class }}" style="{{ menu.html_style }}" id="{{ '#' + capitalize(menu.name) }}">
          <ul class="navbar-nav">
             <!-- insert menu items -->
                {% for menu_item in menu.items %}
                    {% if check_menu_item(menu_item.id) %}
                        {% if menu_item.item_type == 'dropdown' %}
                            {{ navlink_dropdown(menu_item) }}
                        {% elif menu_item.item_type == 'plain'%}
                            {{ navlink(menu_item) }}
                        {% endif %}
                    {% endif %}
                {% endfor %}       
          </ul>
        </div>
{% endmacro %}

{% macro navlink(item) -%}    
    <li class="nav-item">
        <a class="nav-link" alt="" href="{{ url_for(item.item_target) }}" title="{{ item.desc }}">

            {% if item.icon is NULL %}
                {{ capitalize(item.name) }}
            {% else %}
                {% if item.icon_type == 'svg' %}
                    {% set path = "{{ url_for('nav.static', filename = '/images/icons.svg#icon-' }}" %}
                {% else %}
                    {% set path = "{{ url_for('nav.static', filename = '/images/' + item.icon_type + '/' }}" %}
                {% endif %}
                    <svg class="bi text-success" width="32" height="32" fill="currentColor">
                        <use id="{{ item.name }}" name="{{ item.name }}" xlink:href="{{ url_for('nav.static', filename = path + item.icon_src) }}"/>
                    </svg>
             {% endif %}
      
        </a>
    </li>
{%- endmacro %}

{% macro navlink_dropdown(item) -%}
    <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="{{ item.name + '-dropdown' }}"  data-toggle="dropdown">
                {% if item.icon is NULL %}
                    {{ capitalize(item.name) }}
                {% else %}
                    {% if item.icon_type == 'svg' %}
                        {% set path = "{{ url_for('nav.static', filename = '/images/icons.svg#icon-' }}" %}
                    {% else %}
                        {% set path = "{{ url_for('nav.static', filename = '/images/' + item.icon_type + '/' }}" %}
                    {% endif %}
                    <svg class="bi text-success" width="32" height="32" fill="currentColor">
                        <use id="{{ item.name }}" name="{{ item.name }}" xlink:href="{{ url_for('nav.static', filename = path + item.icon_src) }}"/>
                    </svg>
                {% endif %}
              </a>
              <div class="dropdown-menu">
                {% for dropdown_item in item.children %}
                    {% if check_menu_item(dropdown_item.id) %}
                        <a class="dropdown-item" href="{{ url_for('dropdown_item.item_target') }}">{{ captalize(dropdown_item.name) }}</a>
                    {% endif %}
                {% endfor %}
              </div>
            </li>
{% endmacro %} 
