{% macro render_navbar(name = '') %}
    <!--<div class = container-fluid">-->
         {% set navbars = list_navbars() %}
         {% for navbar in navbars %}
            {% if name == '' or name == navbar.name %}
                <nav class="{{ navbar.html_class }}" style="{{ navbar.html_style | safe }}" id="{{ navbar.name }}">
                    {% set navbar_items = list_navbar_items(navbar.id) %}
                    {% for navbar_item in navbar_items %}
                        {% if check_navbar_item(navbar_item.id) %}
                            {% if navbar_item.item_type == 'menu' %}
                                {{ render_menu(navbar_item.name) }}
                            {% else %}
                                {% set navbar_item_template = "/nav/" + navbar.name + "/" + navbar_item.item_src %}
                                {% include navbar_item_template %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </nav>
            {% endif %}
        {% endfor %}
    <!--</div>-->
{% endmacro %}

{% macro render_menu(menu_name) %}
<!-- get Menu object -->    
  {% set menu = get_menu_by_name(menu_name) %}
        <div class="{{ menu.html_class }}" style="{{ menu.html_style }}" id="{{ menu.name.capitalize() }}">
          <ul class="navbar-nav">
             <!-- insert menu items -->
                {% for menu_item in menu.items %}
                    {% if check_menu_item(menu_item.id) %}
                        {% if menu_item.item_type == 'dropdown' %}
                            {{ navlink_dropdown(menu_item) }}
                        {% elif menu_item.item_type == 'plain'%}
                            {{ navlink(menu_item) }}
                        {% endif %}
                    {% endif %}
                {% endfor %}       
          </ul>
        </div>
{% endmacro %}

{% macro navlink(item) %}    
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for(item.item_target) }}" title="{{ item.desc }}">

            {% if item.icon_type == None %}
                {{ item.name.capitalize() }}
            {% else %}
                {% if item.icon_type == 'svg' %}
                    {% set path = url_for('nav.static', filename = 'images/' + item.icon_src + '.svg') %}
                {% else %}
                    {% set path = url_for('nav.static', filename = 'images/' + item.icon_src + '.svg') %}
                {% endif %}
                    <img id="{{ item.name }}" src="{{ path }}">
             {% endif %}
      
        </a>
    </li>
{% endmacro %}

{% macro navlink_dropdown(item) %}
    <li class="nav-item dropdown mr-1">
              <a class="nav-link" href="#" id="{{ item.name + '-dropdown' }}"  data-toggle="dropdown" data-display="static">
                {% if item.icon_type == None %}
                    {{ item.name.capitalize() }}
                {% else %}
                    {% if item.icon_type == 'svg' %}
                        {% set path = url_for('nav.static', filename = 'images/' + item.icon_src + '.svg') %}
                    {% else %}
                        {% set path = url_for('nav.static', filename = 'images/' + item.icon_src + '.svg') %}
                    {% endif %}
                    <img id="{{ item.name }}" src="{{ path }}">
                {% endif %}
              </a>
              <div class="dropdown-menu">
                {% for dropdown_item in item.children %}
                    {% if check_menu_item(dropdown_item.id) %}
                        <a class="dropdown-item" href="{{ url_for(dropdown_item.item_target) }}">{{ dropdown_item.name.capitalize() }}</a>
                    {% endif %}
                {% endfor %}
              </div>
            </li>
{% endmacro %} 
