{% macro render_navbar(name = '') %}
         {% set navbars = list_navbars() %}
         {% for navbar in navbars %}
            {% if name == '' or name == navbar.name %}
                <nav class="{{ navbar.html_class }}" style="{{ navbar.html_style | safe }}" id="{{ navbar.name }}">
                    {% set navbar_items = list_navbar_items(navbar.id) %}
                    {% for navbar_item in navbar_items %}
                        {% if check_navbar_item(navbar_item.id) %}
                            {% if navbar_item.item_type == 'menu' %}
                                {{ render_menu(navbar_item.name) }}
                            {% else %}
                                {% set navbar_item_template = "/nav/" + navbar.name + navbar_item.item_src %}
                                {% include navbar_item_template %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </nav>
            {% endif %}
        {% endfor %}
{% endmacro %}

{% macro render_menu(menu_name) %}
<!-- get Menu object -->    
  {% set menu = get_menu_by_name(menu_name) %}
        <div class="{{ menu.html_class }}" style="{{ menu.html_style }}" id="{{ menu.name.capitalize() }}">
          <ul class="navbar-nav" id="{{ menu.name }}">
             <!-- insert menu items -->
                {% for menu_item in menu.items %}
                    {% if check_menu_item(menu_item.id) %}
                        {% if menu_item.item_type == 'dropdown' %}
                            {{ navlink_dropdown(menu_item) }}
                        {% elif menu_item.item_type == 'tree'%}
                            {{ navlink_tree(menu_item) }}
                        {% elif menu_item.item_type == 'plain'%}
                            {{ navlink(menu_item) }}
                        {% endif %}
                    {% endif %}
                {% endfor %}       
          </ul>
        </div>
{% endmacro %}

{% macro navlink(item) %}    
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for(item.item_target) }}" title="{{ item.desc }}">

            {% if item.icon_type == None %}
                {{ item.name.capitalize() }}
            {% else %}
                {% set path = url_for('nav.static', filename = 'images/' + item.icon_src + '.' + item.icon_type) %}
                <img width="24" height="24" id="{{ item.name }}" src="{{ path }}">
             {% endif %}
      
        </a>
    </li>
{% endmacro %}

{% macro navlink_dropdown(item) %}
    <li class="nav-item dropdown mr-1">
             <a class="nav-link" href="#" id="{{ item.name + '-dropdown' }}" title="{{ item.desc }}" role="button" data-toggle="dropdown">
                {% if item.icon_type == None %}
                    {{ item.name.capitalize() }}
                {% else %}
                    {% set path = url_for('nav.static', filename = 'images/' + item.icon_src + '.' + item.icon_type) %}
                    <img width="24" height="24" id="{{ item.name }}" src="{{ path }}">
                {% endif %}
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                {% for dropdown_item in item.children %}
                    {% if check_menu_item(dropdown_item.id) %}
                        <a class="dropdown-item" href="{{ url_for(dropdown_item.item_target) }}">{{ dropdown_item.name.capitalize() }}</a>
                    {% endif %}
                {% endfor %}
              </div>
            </li>
{% endmacro %} 

<!-- generate tree menu -->
{% macro navlink_tree(item) %}
<!-- check tree menu items exist -->
{% set sets = {"albums":albums, "shares":shares} %}
{% if sets[item.name] != None %}
    {% set tree_id = item.id|string + '-tree' %}
    <li class="nav-item" id="{{ tree_id }}">
             <a class="nav-link" href="{{ '#' + item.item_target }}" title="{{ item.desc }}" data-toggle="collapse" aria-expanded="false">
                 {% if item.icon_type == None %}
                    {{ item.name.capitalize() }}
                {% else %}
                    {% set path = url_for('nav.static', filename = 'images/' + item.icon_src + '.' + item.icon_type) %}
                    <img width="24" height="24" id="{{ item.name }}" src="{{ path }}">
                {% endif %}
              </a>
              {% if item.name == 'albums' %}
              <ul class="list-group list-group-flush" id="{{ item.item_target }}">
                {# loop through top level albums #}
                {% set albums = list_albums() %}
                {% for album in albums %}
                  {% if album.parent_id == None %}
                    {{ tree_item(album) }}
                  {% endif %}
                {% endfor %}
              </ul>
              {% elif item.name == 'shares' %}
              
              <!-- TO BE DONE -->
              
              {% endif %}
    </li>
{% endif %}
{% endmacro %}

{% macro tree_item(album) %}
    {% set subtree_id = album.id|string + '-tree' %}
    <li id="{{ subtree_id }}" class="pt-0 pb-0 list-group-item {% if album.id == session['current_album'] %}active{% endif %}">
        {% if album.children_albums %}
            <!-- generate link to gallery items set to display -->
            <a class="nav-link" href="{{ url_for('albums.show_album', album_name=album.name) }}" id="{{ 'album' + album.id|string }}" onclick="">
                {{ album.name.capitalize() }}
            </a>
            <!--generate subtree recursively-->
            <ul class="list-group" id="{{ subtree_href }}">
                {% for child in album.children_albums %}
                    {{ tree_item(child) }}
                {% endfor %}
            </ul>
        {% else %}
            <a class="nav-link {% if album.id == session['current_album'] %}
                    active
                {% endif %}"
                href="{{ url_for('albums.show_album', album_name=album.name) }}" id="{{ 'album-' + album.id|string }}" onclick="">
                {{ album.name.capitalize() }}
            </a>
        {% endif %}
       </li>
{% endmacro %}
