<!-- Home page -->
{% from '_views_macro.html' import render_view, render_contrib_view with context %}
{% extends 'base_layout.html' %}
    
    {% block header %}
        <h1>{% block title %}{{ title }}{% endblock %}</h1>
    {% endblock %}            
        
    {% block main %}  
        
        <!-- Public galleries / or albums icon images carousel here / or icons of all albums and images not included in albums if admin -->

        {% if gallery_items is None %}
            {% if not authorize.in_group('admins') or not authorize.in_group('contributors') %}
                <p>There are no images uploaded to the site yet.</p>
            {% else %}
                {% include 'upload_form.html' %}
            {% endif %}
        {% else %}
            {% if not authorize.in_group('admins') or not authorize.in_group('contributors') %}
                {% render_view %}
            {% else %}
                {% render_contrib_view %}
            {% endif %}
        {% endif %}

    {% endblock %}
