{% macro render_albums(albums, public) %}
<p> to be done </p>
{% endmacro %}

{% macro render_images(images, public) %}
		{% for image in images %}
			{% if (public and image.is_published) or not public %}

				<div class="gallery col-12 col-sm-5 col-lg-3 col-xl-2 shadow-md m-2">
					<div class="item_name">
						<span>{{ image.name.capitalize() }}</span>
						<img id="{{ image.id }}"
							 name="{{ 'image-' + image.name }}"
							 class="float-right"
							 src="{{ url_for('views.static', filename='/images/check-circle.svg') }}"
						onclick="checkItem(this.id)">
					</div>
					<a href="{{ url_for('images.show_image', image_id=image.id) }}">
						<div class="item">
							<img src="{{ image.url }}" alt="{{ image.name }}">
						</div>
					</a>
					<div class="item_footer">
						{% if authorize.in_group('admins') %}
							Published:
							{% if image.is_published %}
								<span class="text-success">yes</span>
							{% else %}
								<span class="text-danger">no</span>
							{% endif %}
						{% endif %}
					</div>
				</div>

			{% endif %}
		{% endfor %}
{% endmacro %}

{% macro render_contrib_view() %}
<p>to be done</p>
{% endmacro %}
