{% macro render_albums(albums) %}
<p> to be done </p>
{% endmacro %}

{% macro render_images(images) %}
		{% for image in images %}
		<!-- <div class="col-sm-12 col-md-6 col-xl-3"> -->
			<div class="card shadow-sm m-2" style="min-width:300px; max-width:500px;">
				<img class="card-img-top" src="{{ image.url }}" alt="{{ image.name }}">
				<div class="card-body">
					<h5 class="card-title">
						{{ image.name.capitalize() }}
						<a href="#" class="btn btn-primary float-right">Like/Dislike</a>
					</h5>
					<p class="card-text">
						{% if authorize.in_group('admins') %}
							Published:
							{% if image.is_published %}
								<span class="text-success">yes</span>
							{% else %}
								<span class="text-danger">no</span>
							{% endif %}
						{% endif %}
					</p>
				</div>
				<div class="card-img-overlay">
					{{ image.watermark }}
					<span class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="{{ image.name + '-check'}}" name="{{ image.name + '-check'}}">
					</span>
				</div>
			</div>
		<!-- </div> -->
		{% endfor %}
{% endmacro %}

{% macro render_contrib_view() %}
<p>to be done</p>
{% endmacro %}
