<!-- Home page -->
{% extends 'base_layout.html' %}
{% from 'views/_views_macro.html' import render_albums, render_images, render_contrib_view with context %}
    
    {% block head %}
        {{ super() }}
        {{ dropzone.load_css() }}
        {{ dropzone.style('border: 2px dashed green; margin: 2%; width: 100%; min-height: 400px;') }}
    {% endblock %}
    
    {% block header %}
        <div class="text-success"><h4>{{ title }}</h4></div>          
    {% endblock %}

    {% block sidebar %}
        {% if authorize.in_group('admins') or authorize.in_group('contributors') %}
            {{ render_navbar('sidebar') }}
        {% endif %}
    {% endblock %}

    {% block main %}  
        
        <!-- Public galleries / or albums icon images carousel here / or icons of all albums and images not included in albums if admin -->

        {% if albums == [] and images == [] %}
            {% if not current_user.is_authenticated or not authorize.in_group('admins') or not authorize.in_group('contributors') %}
                <div class="flex-grow-1 h-100 bg-light p-2 text-center">There are no images uploaded to the site yet.</div>
            {% else %}
                <div class="container">
                    <div class="row flex-grow-1 justify-content-center text-center">There are no images uploaded to the site yet.</div>
                    <div class="row">
                        {{ dropzone.create(action=url_for('upload.uploads')) }}
                    </div>
                </div>
            {% endif %}
        {% else %}
            {% if not current_user.is_authenticated or not authorize.in_group('admins') or not authorize.in_group('contributors') %}
                <p>to be done</p>
            {% else %}
                <div class="d-flex flex-column">
            	{% if albums != [] %}
            	    <!-- <div class="row w-100 mx-auto"> -->
	                <div class="w-100 text-success border border-top-0 border-left-0 border-right-0 p-2">Albums:</div>
	                <!-- </div> -->
	                <!-- <div class="row"> -->
                		{{ render_albums(albums, False) }}
                    <!-- </div> -->
            	{% endif %}
	                <!-- <div class="row w-100 mx-auto"> -->
	                    <div class="w-100 text-success border border-top-0 border-left-0 border-right-0 p-2">Images:</div>
	                <!-- </div> -->
	                <div class="d-flex flex-row d-sm-flex flex-sm-row justify-content-space">
                        {{ render_images(images, False) }}
                    </div>
                </div>
            {% endif %}
        {% endif %}

    {% endblock %}
    
    {% block modals %}
        {{ super() }}
        
        {% if authorize.create('albums') %}
        
            {% include "albums/create_album_dialog.html" %}
        
        {% endif %}
    
    {% endblock %}

    {% block scripts %}
        {{ super() }}
        {{ dropzone.load_js() }}
        {{ dropzone.config(default_message="Drop images here<br>or<br><span class='btn btn-success'>Click to Upload</span>") }}
    {% endblock %}
