<!-- Home page -->
{% extends 'base_layout.html' %}
{% from 'views/_views_macro.html' import render_view, render_contrib_view with context %}
    
    {% block head %}
        {{ super() }}
        {{ dropzone.load_css() }}
    {% endblock %}

    {% block header %}
        {% block title %}{{ title }}{% endblock %}
    {% endblock %}            
        
    {% block main %}  
        
        <!-- Public galleries / or albums icon images carousel here / or icons of all albums and images not included in albums if admin -->

        {% if gallery_items == [] %}
            {% if not current_user.is_authenticated or not authorize.in_group('admins') or not authorize.in_group('contributors') %}
                <div class="bg-light p-2 text-center">There are no images uploaded to the site yet.</div>
            {% else %}
                {% include 'upload/upload_form.html' %}
            {% endif %}
        {% else %}
            {% if not current_user.is_authenticated or not authorize.in_group('admins') or not authorize.in_group('contributors') %}
                <p>to be done</p>
            {% else %}
                <p>to be done</p>
            {% endif %}
        {% endif %}

    {% endblock %}

    {% block scripts %}
        {{ super() }}
        {{ dropzone.load_js() }}
    {% endblock %}
