<!-- Home page -->

{% extends 'base_layout.html' %}
    
    {% block topmenu %}
        <div id="topmenu" name="topmenu">        
            {% include 'topmenu.html' %}
        </div>
    {% endlblock %}
    {% block actionmenu %}
        <div id="actionmenu" name="actionmenu">        
            {% include 'actionmenu.html' %}
        </div>
    {% endblock %}
    {% block mainmenu %}
        <div id="mainmenu" name="mainmenu">
            {% include 'mainmenu.html' %}
        </div>
    {% endblock %}

    {% block header %}
        <h1>{% block title %}{{ title }}{% endblock %}</h1>
    {% endblock %}            
        
    {% block main %}  
        
        <!-- Public galleries / or albums icon images carousel here / or icons of all albums and images not included in albums if admin -->

    {% endblock %}
